Terraform/.terraform/providers/registry.terraform.io/hashicorp/vsphere/2.1.1/windows_386/terraform-provider-vsphere.exe
Terraform/.terraform/providers/registry.terraform.io/hashicorp/vsphere/2.1.1/windows_386/README.md
Terraform/.terraform/providers/registry.terraform.io/hashicorp/vsphere/2.1.1/windows_386/LICENSE
Terraform/.terraform/providers/registry.terraform.io/hashicorp/vsphere/2.1.1/windows_386/CHANGELOG.md
Terraform/.terraform.lock.hcl
